{% extends "app/base.html" %}
{% load static %}
{% block title %}About{% endblock title %}

{% block main-content %}
<div class="container mt-3">
    <br>
    <h2 class="text-center">About Us</h2>
    <br>
    <div class="row container">
        <p class="fs-4 text-center">
            Welcome To Our Fresh Fruit Shop
        
            We're passionate about bringing you the freshest and most delicious fruits straight from the orchard to your table. Our commitment to quality, sustainability, and customer satisfaction drives everything we do. From succulent berries to crisp apples, we handpick each fruit with care to ensure you get the best nature has to offer. Join us in celebrating the goodness of nature, one bite at a time.
        </p>
    </div>
</div>
<div class="container mt-3">
    <br>
    <h2 class="text-center">Our Mission</h2>
    <br>
    <div class="row container">
        <p class="fs-4 text-center">
            Discover freshness delivered straight from the orchard. Handpicked for quality and taste, our fruits redefine healthy living, one juicy indulgence at a time
        </p>
    </div>
</div>
{% endblock main-content %}
