{% extends "app/base.html" %}
{% load static %}
{% block title %}Search Result{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                {% if product %}
                    {% for prod in product %}
                    <div class="col-sm-4 text-center mb-4 hover-shadow">
                        <a href="{% url 'product-detail' prod.id %}" class="btn">
                            <div>
                                <img src="{{prod.product_image.url}}" width="300px" height="200px" />
                                <div class="fw-bold">{{prod.title}}</div>
                                <div class="fw-bold text-danger">
                                    Rs.{{prod.price}}/-
                                    {% comment %} <small class="fw-light text-decoration-line-through">{{prod.price}}</small>                            
                                </div> {% endcomment %}
                            </div>
                        </a>
                    </div>               
                    {% endfor %}
                {% else %}
                    <div class="col-sm-12 text-center mb-4 d-flex justify-content-between  no-prod">
                        <p class="text-danger">Sorry, no products match your search.</p>
                    </div>
                {% endif %}
            </div>            
        </div>
    </div>
</div>
{% endblock main-content %}

